*{
    box-sizing: border-box;
    margin: 0 auto;

}
#khung{
    width: 960px;
    height: 800px;
    background-color: azure;
}
header{
    width: 100%;
    height: 100px;
    background-color: bisque;
}
#menu1{
    width: 100%;
    height: 50px;
    background-color: rgb(29, 236, 60);
}
#menu2{
    float: left;
    width: 20%;
    height: 500px;
    background-color: rgb(29, 29, 236);
}
section{
    float: left;
    width: 60%;
    height: 500px;
    background-color: rgb(236, 122, 29);
}
aside{
    float: left;
    width: 20%;
    height: 500px;
    background-color: rgb(236, 29, 184);
}
footer{
    clear: both;
    width: 100%;
    height: 150px;
    background-color: rgb(236, 219, 29);
}